<!DOCTYPE html>
<html>
<head>
  <title>FantasyCharts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container-fluid nav-container-top">

    <div class="row">

      <div class="col-lg-12">

        <% if user_signed_in? %>

          <ul>

            <li class="no-bullets">currently logged in as: <%= current_user.email %> <%= current_user.name %></li>

          </ul>

        <% end %>

      </div>

    </div>

  </div>

  <div class="container-fluid container-top">

    <header class="row row-top">

      <div class="col-md-12">

          <h1 class="block-3d-text text-center">Groupie<i class="fa fa-heartbeat" aria-hidden="true"></i>Rails</h1>

        </div>

      </div>

    </header>

  </div>

  <div class="container nav-container">

    <div class="row">

      <div class="col-lg-12">

        <% if user_signed_in? %>

        <ul class="text-center text-white-handwriting">

        <li class="inline-list"><%= link_to "top 40", chart_index_path %></li>
        <li class="inline-list"><%= link_to "artists", artists_index_path %></li>
        <li class="inline-list"><%= link_to "songs", songs_index_path %></li>
        <li class="inline-list"><%= link_to "sign out", destroy_user_session_path, method: :delete %>
          <% end %></li>

      </ul>

      </div>

    </div>

  </div>

  <div class="container">

<%= yield %>

  </div>

  <footer class="container-fluid">

    <div class="row">



    </div>

  </footer>

</body>

</html>
