<div class="container">

  <div class="row">

    <div class="col-sm-6 form-box">

      <h2>Login</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field devise-field">
          <label for="email">
            <%= f.email_field :email, autofocus: true %>
          </label>
        </div>

        <div class="field devise-field">
          <label for="password">
            <%= f.password_field :password, autocomplete: "off" %>
          </label>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "ghost-button ghost-button-small margin-20" %>
        </div>
      <% end %>

      </div>

      <%= render "devise/shared/links" %>

    </div>

  </div>

</div>
