<!DOCTYPE html>
<html>
<head>
  <title>TDDProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="container">
  <div class="row">
    <div class="col l12 m12 s12">
      <% if user_signed_in? %>
        <span class="red-text text-lighten-1">currently logged in as: <%= current_user.email %></span>
      <% end %>
    </div>
  </div>
</header>

<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">

      <li><%= link_to "languages", root_path, class: "waves-effect waves-red btn-flat"%></li>
      <li><%= link_to "tutorials", tutorials_path, class: "waves-effect waves-red btn-flat" %></li>
      <% if user_signed_in? %>
      <li><%= link_to "sign out", destroy_user_session_path, method: :delete, class: "waves-effect waves-red btn-flat" %></li>
      <% else %>
      <li><%= link_to "log In", new_user_session_path, class: "waves-effect waves-red btn-flat" %></li>
      <li><%= link_to "sign up", new_user_registration_path, class: "waves-effect waves-red btn-flat" %></li>

      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">

      <li><%= link_to "languages", root_path, class: "waves-effect waves-red btn-flat"%></li>
      <li><%= link_to "tutorials", tutorials_path, class: "waves-effect waves-red btn-flat" %></li>
      <% if user_signed_in? %>
      <li><%= link_to "sign out", destroy_user_session_path, method: :delete, class: "waves-effect waves-red btn-flat" %></li>
      <% else %>
      <li><%= link_to "log In", new_user_session_path, class: "waves-effect waves-red btn-flat" %></li>
      <li><%= link_to "sign up", new_user_registration_path, class: "waves-effect waves-red btn-flat" %></li>
      <% end %>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">

      <br><br>
      <h3 class="light center white-text spacing">Rogier's tutorials</h3>
      <h5 class="light center white-text spacing">ruby & js</h5>

      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light white-text red lighten-1 red-background">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax background-image">
  </div>
</div>

<div class="container">

  <%= yield %>

</div>

<footer class="page-footer grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 left s12">
        <h5 class="grey-text darken-3">Sources for codes</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="#!">Ruby</a></li>
          <li><a class="grey-text text-darken-3" href="#!">JavaScript</a></li>
          <li><a class="grey-text text-darken-3" href="#!">Python</a></li>
          <li><a class="grey-text text-darken-3" href="#!">HTML/CSS</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Open source you know ^_^
    </div>
  </div>
</footer>




</body>
</html>
