<h1>Your order shipped</h1>

<h3> Dear <%= @order.name %></h3>

<p>We already shipped your recent order</p>

<p>Order details </p>
<% @order.product_items.each do |item| %>

  <ul>
    <li><%= item.product.title %>&times;<%= item.quantity %></li>
    <li><%= number_to_currency item.total_price %></li>
  </ul>

<% end %>

<p>Total: <%= number_to_currency @order.total_price %></p>
