<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse text-center" id="navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!-- user logged in -->
        <% if user_signed_in? %>
          <li><%= link_to conversations_path do %>
            <i class="fa fa-envelope text-center" aria-hidden="true"><br>messages</i>
          <% end %></li>
          <li><%= link_to edit_user_registration_path do %>
            <i class="fa fa-user text-center" aria-hidden="true"><br>account</i>
          <% end %></li>



          <% else %>
          <li><%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in text-center" aria-hidden="true"><br>login</i>
          <% end %></li>
          <li><%= link_to new_user_registration_path do %>
            <i class="fa fa-user text-center" aria-hidden="true"><br>sign-up</i>
          <% end %></li>
        <% end %>

        <!-- freelancer logged in -->
        <% if user_signed_in? && current_user.type === 'Freelancer'%>
          <li><%= link_to employers_path do %>
            <i class="fa fa-building-o text-center" aria-hidden="true"><br>employers</i>
          <% end %></li>
          <li><%= link_to jobs_path do %>
            <i class="fa fa-briefcase text-center" aria-hidden="true"><br>jobs</i>
          <% end %></li>
        <% end %>

          <!-- employer logged in -->
        <% if user_signed_in? && current_user.type === 'Employer'%>
          <li><%= link_to "freelancers", freelancers_path%></li>
        <% end %>

        <% if user_signed_in? %>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-times text-center" aria-hidden="true"><br>log-out</i>
          <% end %></li>

        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
